.container

    h1 Триъгълници
    hr

    .col-md-12
        .panel.panel-primary
            .panel-heading.text-center Триъгълници
            .panel-body
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Произволен триъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/geometry/randomTr/tr-per") Намиране на периметър
                                li
                                    a(href="#/geometry/randomTr/tr-area") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра и другите две страни
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината
                                li
                                    a(href="#/") Намиране на височина имайки лицето и страната
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Равностранен триъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/geometry/equSideTr/tr-per") Намиране на периметър
                                li
                                    a(href="#/geometry/equSideTr/tr-area") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра и другите две страни
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината
                                li
                                    a(href="#/geometry/equSideTr/tr-height") Намиране на височина имайки страната
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Равнобедрен триъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра и другите две страни
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината
                                li
                                    a(href="#/") Намиране на височина имайки лицето и страната
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Правоъгълен триъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра и другите две страни
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината
                                li
                                    a(href="#/") Намиране на височина имайки лицето и страната
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Тъпоъгълен триъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра и другите две страни
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината
                                li
                                    a(href="#/") Намиране на височина имайки лицето и страната




    h1 Четириъгълници
    hr

    .col-md-12
        .panel.panel-primary
            .panel-heading.text-center Четириъгълници
            .panel-body
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Произволен четириъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/geometry/randomQuadril/ranquadrila-per") Намиране на периметър

                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Правоъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра
                                li
                                    a(href="#/") Намиране на страна имайки лицето и другата страна

                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Квадрат
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра
                                li
                                    a(href="#/") Намиране на страна имайки лицето и другата страна

                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Ромб
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината

                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Трапец
                            ul.dropdown-menu
                                li
                                    a(href="#/") Намиране на периметър
                                li
                                    a(href="#/") Намиране на лице
                                li
                                    a(href="#/") Намиране на страна имайки периметъра
                                li
                                    a(href="#/") Намиране на страна имайки лицето и височината