.container

    h1 Уравнения
    br

    .col-md-12
        .panel
            .panel-body.algebra-tab-color
                    ul.nav.nav-tabs(style='margin-bottom: 15px;')
                        li.dropdown
                            a.dropdown-toggle(href='#/algebra/equations/linearequ/linearequ', data-toggle="dropdown") Линейни уравнения
                        li.dropdown
                            a.dropdown-toggle(href='#/algebra/equations/quadratic/quadratic', data-toggle="dropdown") Квадратни уравнения

    h1 Неравенства
    br

    .col-md-12
        .panel
            .panel-body.algebra-tab-color
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown.disabled
                        a.dropdown-toggle(href='', data-toggle="dropdown") Линейни неравенства
                    li.dropdown.disabled
                        a.dropdown-toggle(href='', data-toggle="dropdown") Квадратни неравенства

    h1 Функции
    br

    .col-md-12
        .panel
            .panel-body.algebra-tab-color
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown.disabled
                        a.dropdown-toggle(href='', data-toggle="dropdown") Линейни функции
                    li.dropdown.disabled
                        a.dropdown-toggle(href='', data-toggle="dropdown") Квадратни функции