.container
    .jumbotron
        h1 Добре дошли в MathPro
    .row
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center.text-danger
                    a.geoAndAlg(href="#/geometry") Геометрия
                .panel-body
                    img#geomStart(src="../../pictures/geometryStart.png")
        .col-md-6
            .panel.panel-primary
                .panel-heading.text-center
                    a.geoAndAlg(href="#/algebra") Алгебра
                .panel-body
                    img(src="../../pictures/algebra.png")