.container
	textarea#code.col-md-5(rows="15")

		| <!DOCTYPE html>
		| <html>
		| <head>
		| 	<title> Title </title>
		| </head>

		| 	<style>
		| 		html{
		| 			background-color: #D7DCD3;
		| 		}

		| 	</style>

		| <body>
		| <h1>Hello :D :D :D we so high :D :D :D</h1>
		| </body>
		| 	<script type="text/javascript">

		| 	</script>

		| </html>

	.col-md-1

	iframe#output.col-md-6


script(type="text/javascript" src="/app/scripts/compile.js")