.container
    .well.col-md-12
        form.form-horizontal
            fieldset

                h1 Триъгълници
                br

                .col-md-12
                    .panel.crimson
                        .panel-heading.text-center
                            ul.nav.nav-tabs(style='margin-bottom: 15px;')
                                li.dropdown
                                    a.dropdown-toggle(href='', data-toggle="dropdown") Произволен триъгълник
                                        ul.dropdown-menu
                                            li
                                                a(href="#/geometry/randomTr/tr-per") Намиране на периметър
                                            li
                                                a(href="#/geometry/randomTr/tr-area") Намиране на лице
                                            li
                                                a(href="#/geometry/randomTr/tr-side") Намиране на страна от периметъра и другите две страни
                                            li
                                                a(href="#/geometry/randomTr/tr-sideFromArea") Намиране на страна от лицето и височината
                                            li
                                                a(href="#/geometry/randomTr/tr-heightFromArea") Намиране на височина от лицето и страната
                                li.dropdown
                                    a.dropdown-toggle(href='', data-toggle="dropdown") Равностранен триъгълник
                                        ul.dropdown-menu
                                            li
                                                a(href="#/geometry/equSideTr/tr-per") Намиране на периметър
                                            li
                                                a(href="#/geometry/equSideTr/tr-area") Намиране на лице
                                            li
                                                a(href="#/geometry/equSideTr/tr-sideFromPer") Намиране на страна от периметъра
                                            li
                                                a(href="#/geometry/equSideTr/tr-sideFromArea") Намиране на страна от лицето
                                            li
                                                a(href="#/geometry/equSideTr/tr-height") Намиране на височина от страната
                                li.dropdown
                                    a.dropdown-toggle(href='#/geometry/right-angled-tr') Правоъгълен триъгълник
                                li.dropdown.disabled
                                    a.dropdown-toggle.disabled(href='', data-toggle="dropdown") Равнобедрен триъгълник
                                        ul.dropdown-menu
                                            li
                                                a(href="#/") Примерна функция 1
                                            li
                                                a(href="#/") Примерна функция 2
                                            li
                                                a(href="#/") Примерна функция 3
                                            li
                                                a(href="#/") Примерна функция 4
                                            li
                                                a(href="#/") Примерна функция 5
                                li.dropdown.disabled
                                    a.dropdown-toggle.disabled(href='', data-toggle="dropdown") Тъпоъгълен триъгълник
                                        ul.dropdown-menu
                                            li
                                                a(href="#/") Примерна функция 6
                                            li
                                                a(href="#/") Примерна функция 7
                                            li
                                                a(href="#/") Примерна функция 8
                                            li
                                                a(href="#/") Примерна функция 9
                                            li
                                                a(href="#/") Примерна функция 10
    
    .well.col-md-12
        form.form-horizontal
            fieldset
                h1 Четириъгълници
                br

                .col-md-12
                    .panel.crimson
                        .panel-heading.text-center
                            ul.nav.nav-tabs(style='margin-bottom: 15px;')
                                li.dropdown
                                    a.dropdown-toggle(href='', data-toggle="dropdown") Произволен четириъгълник
                                        ul.dropdown-menu
                                            li
                                                a(href="#/geometry/randomQuadril/ranquadrila-per") Намиране на периметър
                                            li
                                                a(href="#/geometry/randomQuadril/randomQuad-area") Намиране на лице

                                li.dropdown
                                    a.dropdown-toggle(href='', data-toggle="dropdown") Правоъгълник
                                        ul.dropdown-menu
                                            li
                                                a(href="#/geometry/rectangle/rec-per") Намиране на периметър
                                            li
                                                a(href="#/geometry/rectangle/rec-area") Намиране на лице
                                            li
                                                a(href="#/geometry/rectangle/rec-sideFromPer") Намиране на страна от периметъра
                                            li
                                                a(href="#/geometry/rectangle/rec-sideFromArea") Намиране на страна от лицето и другата страна

                                li.dropdown
                                    a.dropdown-toggle(href='', data-toggle="dropdown") Квадрат
                                        ul.dropdown-menu
                                            li
                                                a(href="#/geometry/square/sq-per") Намиране на периметър
                                            li
                                                a(href="#/geometry/square/sq-area") Намиране на лице
                                            li
                                                a(href="#/geometry/square/sq-sideFromPer") Намиране на страна от периметъра
                                            li
                                                a(href="#/geometry/square/sq-sideFromArea") Намиране на страна от лицето

                                li.dropdown
                                    a.dropdown-toggle(href='', data-toggle="dropdown") Ромб
                                        ul.dropdown-menu
                                            li
                                                a(href="#/geometry/rhombus/rh-per") Намиране на периметър
                                            li
                                                a(href="#/geometry/rhombus/rh-area") Намиране на лице
                                            li
                                                a(href="#/geometry/rhombus/rh-sideFromPer") Намиране на страна от периметъра
                                            li
                                                a(href="#/geometry/rhombus/rh-sideFromArea") Намиране на страна от лицето и единия диагонал

                                li.dropdown.disabled
                                    a.dropdown-toggle.disabled(href='', data-toggle="dropdown") Трапец
                                        ul.dropdown-menu
                                            li
                                                a(href="#/") for href for Trapez #/geometry/trapezoid/trapezoid-kind
                                            li
                                                a(href="#/") Примерна функция 7
                                            li
                                                a(href="#/") Примерна функция 8
                                            li
                                                a(href="#/") Примерна функция 9
                                            li
                                                a(href="#/") Примерна функция 10
    
    .well.col-md-12
        form.form-horizontal
            fieldset
                .col-md-12
                    .col-md-6
                        h1 Кръг и окръжност
                    .col-md-6
                        .panel.crimson
                            ul.nav
                                    li.col-md-6.text-center
                                        a(href='#/round') Кръг
                                    li.col-md-6.text-center
                                        a(href='#/circle') Окръжност

                .col-md-12
                    .col-md-6
                        h3 Окръжност
                        p Окръжност е геометрична крива, образувана от множеството от точките в дадена равнина, намиращи се на определено разстояние (радиус, r) от определена точка (център).
                            br
                            p(style="text-align: right") Източник: Wikipedia
                    
                    .col-md-6
                        h3 Кръг
                        p Фигурата, съставена от точките във вътрешността на окръжността (т.е. точките на разстояние от центъра, по-малко или равно от радиуса), се нарича кръг.
                            br
                            p(style="text-align: right") Източник: Wikipedia

    .well.col-md-12
        form.form-horizontal
            fieldset
                h1 Тригонометрия
                br

                .col-md-12
                    .col-md-6
                        h3 Определение
                        p 
                            | Раздел от математиката, изучаващ отношенията на ъглите и страните в триъгълника. 
                            | За тази цел тригонометрията използва тригонометричните функции синус (sin), косинус (cos), 
                            | тангенс (tg), котанген (cotg) и техните производни, които описват тези отношения и намират 
                            | широко приложение в много други области на математиката, науката и техниката.
                        br
                    .col-md-6
                        .panel.crimson
                            ul.nav
                                li
                                    a(href='#/geometry/trigonometry/sin') Калкулатор за sin (синус)
                                li.disabled
                                    a(href='') Калкулатор за cos (косинус)
                                li.disabled
                                    a(href='') Калкулатор за tg (тангенс)
                                li.disabled
                                    a(href='') Калкулатор за cotg (котансгенс)