.container
    h1 Как да използваме раздел алгебра
    table.table
        tr
            td
                h3 Стъпка 1:
                .col-md-12
                    .col-md-6
                        p.steps Натиснете върху желаната от вас категория от раздела алгебра
                        p.steps Например:
                        img(src="../../pictures/algStep1.png")
        tr
            td
                h3 Стъпка 2:
                .col-md-12
                    .col-md-6
                        p.steps Въведете стойностите за параметрите 'a','b','c'...
                        p.steps и пресметнете стойноста на неизвестното число 'x'
                        p.steps Например:
                        img(src="../../pictures/algStep2.png")