.container
    .well.col-md-12
        form.form-horizontal.col-md-5
            fieldset
                legend Пресмятане на пермутация P(n)
                .form-group
                    label.col-md-3.control-label n =
                    .col-md-9
                        input.form-control#permutation-input(type="number", placeholder="Въведете n", required)

                p.text-danger Въведените стойности за n трябва да са положителни числа*

                .form-group
                    .pull-left
                        button.btn.btn-primary.calc(ng-click="permutation()") Пресметни пермутация

        form.form-horizontal.col-md-7.resolve
            fieldset
                legend Решение:
                .form-group
                    label.text-success
                        p#permutationResult