.container

    h1 Тази част от приложението е в процес на разработка. Съдържанието ще бъде добавено много скоро
    br

    .col-md-12
        .panel
            .panel-body
                .col-md-12
                    .col-md-6
                            h3 Метрични зависимости
                            p 