.container

    h1 Тази част от приложението е в процес на разработка. Съдържанието ще бъде добавено много скоро.
    br

    .well.col-md-12
        .panel
            .panel-body
                .col-md-12
                    .col-md-6
                            h3 Метрични зависимости
                            p Малко информация за тях...

    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Метрични зависимости
                .form-group
                    label.col-md-3.control-label Катет a
                    .col-md-9
                        input.form-control#str-a(type="number", step="0.001", placeholder="Въведете дължината на катета", required)
                .form-group
                    label.col-md-3.control-label Катет b
                    .col-md-9
                        input.form-control#str-b(type="number", step="0.001", placeholder="Въведете дължината на катет", required)
                .form-group
                    label.col-md-3.control-label Хипотенуза c
                    .col-md-9
                        input.form-control#str-c(type="number", step="0.001", placeholder="Въведете дължината на хипотенуза", required)
                p.text-danger Въведените стойности трябва да са в еднакви мерни единици*
                .form-group
                    .pull-left
                        button.btn.btn-primary.calc.calcBtn(onclick="metricalDepDraw()") Пресметни и покажи чертеж

        form.form-horizontal.col-md-6.resolve
            fieldset
                legend Решение:
                .form-group
                    canvas#metricalDepCanvas
                .form-group
                    label.text-success
                        p