.container
	.well.col-md-12
		form.form-horizontal
			fieldset
				h1 Правоъгълен триъгълник
				br

				.col-md-12
					.col-md-6
						h3 Определение
						p 
							| Правоъгълния триъгълник има един ъгъл със големина 90° (90 градуса), наричан още прав ъгъл. 
							| Страните между, които се намира правия ъгъл се наричат катети, а страната срещу него - хипотенуза.
						p
							| В правоъгълния триъгълник има метрични зависимости и тригонометрични функции (сунис, косинус, тангенс, котангенс), 
							| даващи ни връзка между елементи като височината,
							| кактетите и техните проекции, хипотенузата и други.
					.col-md-6
						.col-md-12
							.col-md-4
								h3 Означения:
								p BC - хипотенуза
								p AB - катет
								p AC - катет
								p AD - височина
								p BD - проекцията на AB
								p CD - проекцията на AC
							.col-md-8
								img(src="../../pictures/right-angled-tr.png")
				br

				.col-md-12
					.panel(style="background-color: #990000")
						.panel-heading.text-center
							ul.nav.nav-tabs(style='margin-bottom: 15px;')
								li.dropdown.col-md-4
									a.dropdown-toggle(href='#/geometry/right-angled-tr/metricalDep') Метрични зависимости

								li.dropdown.col-md-4.disabled
									a.dropdown-toggle(href='') Тригонометрични функции в правоъгълен триъгълник
								li.dropdown.col-md-4
									a.dropdown-toggle(href='', data-toggle="dropdown") Намиране на елементи
										ul.dropdown-menu
											li.disabled
												a(href="") Намиране на периметър
											li.disabled
												//различните видове формули...
												a(href="") Намиране на лице
											li.disabled
												a(href="") Намиране на радиус на описаната окръжност
											li
												a(href="#/geometry/right-angled-tr/small-radius") Намиранен на радуис на вписаната окръжност