.container
    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Радиус на вписана в правоъгълен триъгълник окръжност
                .from-group
                    p
                        | В правоъгълен триъгълник може да се впише окръжност.
                        | Нейният център се намира на пресечната точка на трите вътрешни ъглополовящи на ъглите на триъгълника.
                        | Радиусът на вписаната окръжност се нарича перпендикулярната отсечка, спусната към която и да е от страните на триъгълника.
                        | Той се пресмята по формулата: r = (a + b - c)/2
                    p Където "r" е радиусът на вписаната окръжност, "a" и "b" са катетите на правоъгълния триъгълник, а "c" е неговата хипотенуза.
        .col-md-6
            h3 Помощен чертеж:
            canvas#smallRadiusRightAgngledTrDraw

    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Пресмятане на радиуса
                .form-group
                    label.col-md-3.control-label Катет a
                    .col-md-9
                        input.form-control#str-a(type="number", step="0.001", placeholder="Въведете дължината на катета", required)
                .form-group
                    label.col-md-3.control-label Катет b
                    .col-md-9
                        input.form-control#str-b(type="number", step="0.001", placeholder="Въведете дължината на катет", required)
                .form-group
                    label.col-md-3.control-label Хипотенуза c
                    .col-md-9
                        input.form-control#str-c(type="number", step="0.001", placeholder="Въведете дължината на хипотенуза", required)
                p.text-danger Въведените стойности трябва да са в еднакви мерни единици*
                .form-group
                    .pull-left
                        button.btn.crimson.calc.calcBtn(ng-click="smallRadiusInRightAngledTr()") Пресметни радиус

        form.form-horizontal.col-md-6.resolve
            fieldset
                legend Решение:
                .form-group
                    label.text-success
                        p#smallRadiusInRightAngledTr