.container
    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Намиране на sin на ъгъл:
                .form-group
                    label.col-md-3.control-label Въведете ъгъл:
                    .col-md-8
                        .col-md-7
                            input.form-control#angle(type="number", step="0.001", placeholder="Стойност в градуси", required)
                        .col-md-5
                            button.btn.crimson.calc.calcBtn(onclick="sine()") Пресметни синуса
                p.text-danger Стойността на ъгъла трябва да е в градуси*

        form.form-horizontal.col-md-6.resolve
            fieldset
                legend Решение:
                .form-group
                    label.text-success
                        p#sine