.container
    .well
        form.form-horizontal(name="signUpForm")
            fieldset
                legend Създай потребител
                .form-group
                    label.col-md-2.control-label(for="first-name") Име
                    .col-md-10
                        input.form-control(type="text", placeholder="First Name", ng-model="user.firstName", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Фамилия
                    .col-md-10
                        input.form-control(type="text", placeholder="Last Name", ng-model="user.lastName", required)
                .form-group
                    label.col-md-2.control-label(for="username") Никнейм
                    .col-md-10
                        input.form-control(type="text", placeholder="Username", ng-model="user.username", required)
                .form-group
                    label.col-lg-2.control-label(for='inputEmail') Email
                    .col-lg-10
                        input#inputEmail.form-control(type='email', placeholder='Email', required)
                .form-group
                    label.col-md-2.control-label(for="password") Парола
                    .col-md-10
                        input.form-control(type="password", placeholder="Password", ng-model="user.password", required)
                .pull-right
                    button.btn.btn-primary(ng-click="signup(user)", ng-disabled="signUpForm.$invalid") Създай
                    a.btn.btn-danger(href="#/") Отказ