.container
	.jumbotron
		h1 За MathPro
		p
			| Приложение, в което ще бъдат разгледани основни типове задачи по алгебра, геометрия и комбинаторика, за които се
			| предлагат решения. Приложението е насочено към ученици, които срещат трудности при решаването на задачи и има за цел
			| да подпомогне овладяването и онагледи изучавания материал.