.container
	.jumbotron
		h1 За MathPro
		p
			| Приложение, в което ще бъдат разгледани основни типове задачи по алгебра, геометрия и комбинаторика, за които се
			| предлагат решения. Приложението е насочено към ученици, които срещат трудности при решаването на задачи и има за цел
			| да подпомогне овладяването и онагледи изучавания материал.
		p
			| Приложението ще предлага и форум, който могат да използват само потребителите, имащи регистрация.
			| В него могат да обсъждат и да обменят идеи за задачи, да задават въпроси за нещата които не знаят или не разбират.