.container
	.jumbotron
		h1 За MathPro
		p
			| Приложение, в което ще бъдат разгледани основни типове задачи по алгебра, геометрия и комбинаторика, за които се
			| предлагат решения. Приложението е насочено към ученици, които срещат трудности при решаването на задачи и има за цел
			| да подпомогне овладяването и онагледи изучавания материал.
		
	h3.text-center.text-danger Приложението е в процес на разработка!
		p
			| Част от вмъкнатите бутони и функции, които са добавени в процеса на изграждане на дизайна на приложението, не са активни.
			| Те ще бъдат активирани след написването на функците, които ще извършват.