.container
    .col-md-12
        h1 Често задаваните въпроси (FAQs)
    .well.col-md-6#searchBoxFAQs
        form.form-horizontal
            fieldset
                .form-group
                    label.col-md-3.control-label(for="first-side") Търси въпрос
                    .col-md-9
                        input.form-control(type="text", placeholder="Въведи въпрос или ключова дума от него", ng-model="search")

    .col-md-12
        .panel(ng-repeat="faq in faqs | filter: search")
            .panel-heading(style="background: #006AAB")
                h1.panel-title {{ faq.question }}
            .panel-body
                | {{ faq.answer }}