.container
    .jumbotron.col-md-12
        h2.text-center При технически проблеми:
        br
        .text-center.col-md-12
            .list-group.col-md-6
                table.table.table-striped.table-hover
                    tb
                        tr
                            td.support
                                h3 Радослав Радков
                        tr
                            td.support
                                h5 Admin and developer
                        tr
                            td.support
                                h5 E-mail: &nbsp
                                    //a(href="mailto:Type_Here_E-mail_For_Support") 
                                    | rkradkov@abv.bg

            .list-group.col-md-6
                table.table.table-striped.table-hover
                    tb
                        tr
                            td.support
                                h3 Красимир Гетов
                        tr
                            td.support
                                h5 Admin and Co-developer
                        tr
                            td.support
                                h5 E-mail: &nbsp
                                    //a(href="mailto:Type_Here_E-mail_For_Support") 
                                    | krasi.getov@abv.bg