.container
    .col-md-12
        .panel.panel-primary
            .panel-heading.text-center Четириъгълници
            .panel-body
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Произволен четириъгълник
                            ul.dropdown-menu
                                li
                                    a(href="#") Намиране на периметър
                                li
                                    a(href="#") Намиране на лице

