.container
    .well.col-md-12
        form.form-horizontal
            fieldset
                h1 Трапец
                br

                .col-md-12
                    .col-md-6
                        .panel
                            .panel-heading.crimson
                                h4.text-center Произволен трапец
                            .panel-body.crimson
                                table.table.table-hover
                                    tb
                                        tr.active
                                            td
                                                a(href="#") Намиране на периметър
                                        tr.active
                                            td
                                                a(href="#") Намиране на лице
                                        tr.active
                                            td
                                                a(href="#") Намиране на страна от периметъра

                    .col-md-6
                        .panel
                            .panel-heading.crimson
                                h4.text-center Равнобедрен трапец
                            .panel-body.crimson
                                table.table.table-hover
                                    tb
                                        tr.active
                                            td
                                                a(href="#") Намиране на периметър
                                        tr.active
                                            td
                                                a(href="#") Намиране на лице
                                        tr.active
                                            td
                                                a(href="#") Намиране на страна от периметъра

                    .col-md-6
                        .panel
                            .panel-heading.crimson
                                h4.text-center Правоъгълен трапец
                            .panel-body.crimson
                                table.table.table-hover
                                    tb
                                        tr.active
                                            td
                                                a(href="#") Намиране на периметър
                                        tr.active
                                            td
                                                a(href="#") Намиране на лице
                                        tr.active
                                            td
                                                a(href="#") Намиране на страна от периметъра