//For begining(controlers,libraries and other...)
script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/main/mainCtrl.js")
script(type="text/javascript" src="/app/account/loginCtrl.js")
script(type="text/javascript" src="/app/account/signUpCtrl.js")
script(type="text/javascript" src="/app/account/profileCtrl.js")
script(type="text/javascript" src="/app/account/identity.js")
script(type="text/javascript" src="/app/account/auth.js")
script(type="text/javascript" src="/app/account/usersResource.js")
script(type="text/javascript" src="/app/admin/userListCtrl.js")
script(type="text/javascript" src="/app/admin/userDetailsCtrl.js")
script(type="text/javascript" src="/app/admin/addFAQsController.js")
script(type="text/javascript" src="/app/about/FAQsResource.js")
script(type="text/javascript" src="/app/about/FAQsController.js")

script(type="text/javascript" src="/app/forum/scripts/questionsResource.js")
script(type="text/javascript" src="/app/forum/scripts/questionsController.js")

script(type="text/javascript" src="/app/common/notifier.js")

//Password Matcher
script(type="text/javascript" src="/app/account/passwordMatch/passwordMatch.js")

//For resolving math probles from geometry

script(type="text/javascript" src="/app/geometry/blueprints.js")


//Random triangular
script(type="text/javascript" src='app/geometry/triangular/randomTr/scripts/tr-per.js')
script(type="text/javascript" src='app/geometry/triangular/randomTr/scripts/tr-area.js')
script(type="text/javascript" src='app/geometry/triangular/randomTr/scripts/tr-sideFromPer.js')
script(type="text/javascript" src='app/geometry/triangular/randomTr/scripts/tr-sideFromArea.js')
script(type="text/javascript" src='app/geometry/triangular/randomTr/scripts/tr-heightFromArea.js')

//Equside triangular
script(type="text/javascript" src='app/geometry/triangular/equSideTr/scripts/equside-tr-per.js')
script(type="text/javascript" src='app/geometry/triangular/equSideTr/scripts/equside-tr-area.js')
script(type="text/javascript" src='app/geometry/triangular/equSideTr/scripts/equside-tr-height.js')
script(type="text/javascript" src='app/geometry/triangular/equSideTr/scripts/equside-tr-sideFromPer.js')
script(type="text/javascript" src='app/geometry/triangular/equSideTr/scripts/equside-tr-sideFromArea.js')

//Random quadrilaterals
script(type="text/javascript" src='app/geometry/quadrilaterals/randomQuadrilaterals/scripts/ranquadrila-per.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/randomQuadrilaterals/scripts/randomQuad-area.js')

//Rectangle
script(type="text/javascript" src='app/geometry/quadrilaterals/rectangle/scripts/rec-per.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/rectangle/scripts/rec-area.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/rectangle/scripts/rec-sideFromPer.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/rectangle/scripts/rec-sideFromArea.js')

//Square
script(type="text/javascript" src='app/geometry/quadrilaterals/square/scripts/sq-per.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/square/scripts/sq-area.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/square/scripts/sq-sideFromPer.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/square/scripts/sq-sideFromArea.js')

//Rhombus
script(type="text/javascript" src='app/geometry/quadrilaterals/rhombus/scripts/rh-per.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/rhombus/scripts/rh-area.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/rhombus/scripts/rh-sideFromPer.js')
script(type="text/javascript" src='app/geometry/quadrilaterals/rhombus/scripts/rh-sideFromArea.js')

//Right-angled-triangular
script(type="text/javascript" src='app/geometry/triangular/right-angled-tr/scripts/right-angled-Tr-metricalDep.js')
script(type="text/javascript" src='app/geometry/triangular/right-angled-tr/scripts/small-radius.js')

//Circle and round
script(type="text/javascript" src='app/geometry/roundAndCircle/scripts/circleCtrl.js')
script(type="text/javascript" src='app/geometry/roundAndCircle/scripts/roundCtrl.js')

//Combinatorics part
script(type="text/javascript" src="app/combinatorics/permutation/permutationCtrl.js")

//Trigonometry
script(type="text/javascript" src='app/geometry/trigonometry/scripts/sine.js')

//For resolving math probles from algebra
script(type="text/javascript" src="app/algebra/equations/linearequ/scripts/linearequ.js")
script(type="text/javascript" src="app/algebra/equations/quadratic/scripts/quadratic.js")