.container
    h1 Пермутация
    br

    .col-md-12
        .list-group
            a.list-group-item.active.text-center(href='#')
                | Определение
            .list-group-item
                p Пермутация на n елемента наричаме произволна тяхна наредба, в която всеки един от тези елементи се среща само веднъж. Броят на възможните различни наредби (пермутации) е n!=1.2.3...n
                p n! - функция на естествено число n, равна на произведението на естествени числа от 1 до n.
                p Например:
                ul
                    li 5! = 5*4*3*2*1 = 120
                    li 10! = 10*9*8*7*...*2*1 = 3628800
                    li 0! се брои за 1, 0! = 1
            .list-group-item
                a.btn.btn-primary(href="#/combinatorics/permutation") Решеване на задачи от пермутация

    h1 Вариация
    br

    .col-md-12
        .list-group
            a.list-group-item.active.text-center(href='#')
                | Определение
            .list-group-item
                p Вариациите се използват за изчисляване на броя на начините, по които могат от дадено множество от n на брой елемента да се изберат k на брой, като реда на избиране на елементите е от значение.
                img(src="../../pictures/variaciq.png")
            .list-group-item
                a.btn.btn-primary(href="#/") Решеване на задачи от вариации

    h1 Комбинация
    br

    .col-md-12
        .list-group
            a.list-group-item.active.text-center(href='#')
                | Определение
            .list-group-item
                p Комбинация на n елемента от k-ти клас, се нарича което и да е множество от k различни елемента избрани измежду n дадени елемента. Поредността на избраните елементи е без значение, така че множествата с еднакви елементи представляват една и съща комбинация.
            .list-group-item
                a.btn.btn-primary(href="#/combinatorics/combination") Решеване на задачи от комбинации