.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                .col-md-12(ng-show="identity.currentUser")
                    h1 Здравей, {{ identity.currentUser.firstName }}
                    .col-md-5
                        h3 Профил
                        br

                        img.img-thumbnail(src="{{ identity.currentUser.profileImg }}", ng-show="identity.isAuthenticated()")
                    
                        h3 Име: {{ identity.currentUser.firstName }}
                        h3 Фамилия: {{ identity.currentUser.lastName }}
                        h3 Потребителско име: {{ identity.currentUser.username }}

                    .col-md-7
                        h3 Редактиране на профила
                        br
                        .form-group
                            label.col-md-2.control-label(for="first-name") Име
                            .col-md-10
                                input.form-control(type="text", placeholder="Име", ng-model="user.firstName", required)
                        .form-group
                            label.col-md-2.control-label(for="last-name") Фамилия
                            .col-md-10
                                input.form-control(type="text", placeholder="Фамилия", ng-model="user.lastName", required)
                        .form-group
                            label.col-md-2.control-label(for="last-name") Профилна снимка
                            .col-md-10
                                input.form-control(type="text", placeholder="Въведете линк, водещ към вашата профилна снимка", ng-model="user.profileImg")
                        .form-group
                            label.col-md-2.control-label(for="password") Парола
                            .col-md-10
                                input.form-control(type="password", placeholder="Парола", ng-model="user.password")
                        .pull-right
                            button.btn(ng-click="update(user)", ng-disabled="profileForm.$invalid", style="background-color: #007700") Запази промените
                            a.btn.crimson(href="#/") Отказ