.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                legend Редактиране на профила
                .col-md-12(ng-show="identity.currentUser")
                    h1 Здравей, {{ identity.currentUser.firstName }}
                    .col-md-5
                        
                        img.img-thumbnail(src="{{ identity.currentUser.profileImg }}", ng-show="identity.isAuthenticated()")

                    .col-md-7
                        .form-group
                            label.col-md-2.control-label(for="first-name") Име
                            .col-md-10
                                input.form-control(type="text", placeholder="First Name", ng-model="user.firstName", required)
                        .form-group
                            label.col-md-2.control-label(for="last-name") Фамилия
                            .col-md-10
                                input.form-control(type="text", placeholder="Last Name", ng-model="user.lastName", required)
                        .form-group
                            label.col-md-2.control-label(for="password") Парола
                            .col-md-10
                                input.form-control(type="password", placeholder="Password", ng-model="user.password")
                        .pull-right
                            button.btn.btn-success(ng-click="update(user)", ng-disabled="profileForm.$invalid") Запази промените
                            a.btn.btn-danger(href="#/") Отказ