.container
	h1 Правила и условия за употреба
	
	h3 1. Приложението е само за некомерсиална употреба.
	h3 2. Забранява се публикуването на нецензорно и убидно съдържание във форума на приложението.
	h3 3. Забранява се употребата на приложението по време на учебни занятия.
	h1.text-danger.text-center Всеки потребител, нарушил условията за употреба се наказва с изтриване на акаунта!!! 