body {
  padding-top: 80px;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
a.btn {
  margin-left: 10px;
}
button.btn.calc.buy {
  margin-bottom: 10px;
}
.geoAndAlg {
  color: #fff;
}
.geoAndAlg:hover {
  color: #fff;
}
#geomStart {
  margin-left: 15%;
}
#fullScreenSize {
  font-size: 31px;
}
.toast-top-right {
  top: 70px;
}
.resolve,
.steps {
  font-size: 21px;
}
#detailsBtn {
  margin-right: 30px;
}
#profileImg {
  margin-left: 10px;
}
#blackBg {
  background-color: #222;
}
span.userText {
  color: #c0c0c0;
}
#combination,
#variation {
  font-size: 60px;
  width: 60px;
}
.k-class,
.n-class {
  font-size: 25px;
}
.inputs {
  margin-left: 10px;
  margin-bottom: 10px;
  height: 35px;
  width: 170px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
hr {
  background-color: #a9a9a9;
  height: 1px;
}
footer {
  padding-left: 5%;
  padding-right: 5%;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
@media (max-width: 360px) {
  #firstName,
  #lastName,
  #firstNameHeader,
  #lastNameHeader {
    display: none;
  }
  #detailsBtn {
    display: none;
  }
  #contentAlgebraPanel,
  #contentGeometryPanel {
    font-size: 21px;
  }
  #imgAlgebra,
  #geomStart {
    display: none;
  }
  #fullScreenSize {
    display: none;
  }
}
@media (max-width: 980px) {
  #wrapper {
    padding-left: 0;
    display: none;
  }
  #signup {
    margin-left: 0px;
    margin-top: 0px;
  }
  #login,
  #username {
    margin-right: 10px;
    margin-bottom: 6px;
  }
  #login {
    margin-top: 6px;
  }
  #geomStart {
    margin-left: 20%;
  }
}
@media (min-width: 500px) {
  #contentAlgebraPanel,
  #contentGeometryPanel {
    display: none;
  }
}
@media (min-width: 1280px) {
  #blackBg {
    margin-top: -1px;
    margin-right: -1px;
  }
  ul#blackBg > li > a:hover {
    color: #000;
  }
}
