.container
    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Намиране на страна на квадрат
                .form-group
                    label.col-md-3.control-label(for="first-side") Лицето S
                    .col-md-9
                        input.form-control#area(type="number", step="0.001", placeholder="Въведете стойността на лицето")

                .form-group
                    .pull-left
                        button.btn.crimson.calc(onclick="sideFromAreaSq()") Пресметни страната

        form.form-horizontal.col-md-6.resolve
            fieldset
                legend Решение:
                .form-group
                    label.text-success
                        p#sideFromAreaSq