.container
    .row
        .col-md-6
            div
                b Users
                #users
            div
                #conversation
                input#data
                input#datasend(type="button", value="send")
        .col-md-6