.container
    h1 Трапец
    br

    .col-md-12
        .col-md-6
            .list-group
                a.list-group-item.active.text-center(href='#')
                    | Произволен трапец
                table.table.table-striped.table-hover
                    tb
                        tr.active
                            td
                                a(href="#") Намиране на периметър
                        tr.active
                            td
                                a(href="#") Намиране на лице
                        tr.active
                            td
                                a(href="#") Намиране на страна имайки периметъра

        .col-md-6
            .list-group
                a.list-group-item.active.text-center(href='#')
                    | Равнобедрен трапец
                table.table.table-striped.table-hover
                    tb
                        tr.active
                            td
                                a(href="#") Намиране на периметър
                        tr.active
                            td
                                a(href="#") Намиране на лице
                        tr.active
                            td
                                a(href="#") Намиране на страна имайки периметъра

        .col-md-6
            .list-group
                a.list-group-item.active.text-center(href='#')
                    | Правоъгълен трапец
                table.table.table-striped.table-hover
                    tb
                        tr.active
                            td
                                a(href="#") Намиране на периметър
                        tr.active
                            td
                                a(href="#") Намиране на лице
                        tr.active
                            td
                                a(href="#") Намиране на страна имайки периметъра