body{
    font-family: Georgia, Verdana, sans-serif;
    font-size: 22px;
}
#allcontent{
    border: 2px solid black;
    border-radius: 7px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
#header{
    text-align: center;
}
nav ul{
    list-style: none;
    margin: 10px;
}
nav li{
    display: inline;
    margin-right: 7px;
}
nav a{
    font-size: 24px;
    font-weight: bold;
    color: #2DB7F1;
}
#table{
    border-top: 2px solid black;
}
#wrapper{
    width: 650px;
    display: inline-block;
    *zoom:1;
    *display: inline;
    vertical-align: middle;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-bottom: 14px;    
}
.product{
    float: left;
    border: 2px solid black;
    width: 300px;
    margin-top: 20px;
    margin-left: 14px;
}
h3{
    margin-top: -14px;
    margin-left: 35px;
    width: 230px;
    text-align: center;
    background-color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
}    
img{
    width: 160px;
    margin-left: 4px;
    margin-right: 0px;
}
.product .price{
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}
.feature{
    float: right;
    padding: 0px;    
    list-style-type: none;
    margin-top: 30px;
    margin-right: 8px;
}
.feature li:not(:first-child) {
    margin-top: 20px;
}
#wrapper1{
    width:330px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: middle;
}
#form{
    margin-left: 20px;
    margin-right: 10px;
    font-size: 26px;
}
.fieldset{    
    position: relative;
    margin-bottom: 5px;
    border: 0px;
}
.legend{
    position: absolute;
    top: 0;
    left: 0;
}
.output{
    position: absolute;
    top: 0;
    left: 160px;
}
.input{
    margin-top: 50px;
    width: 200px;
}