.well.col-md-12
	.col-md-12
		h3 Метрични зависимости
		.col-md-6
				p
					| Под метрични зависимости между елементите на една фигура разбираме зависимостите между дължините на отсечки от тази фигура, измерени с една и съща мерна единица.
				p
					За метричните зависимости в правоъгълния триъгълник са в сила следните теореми:
					ul
							li 
								p Т1. Всеки катет в правоъгълния триъгълник е равен на произведението на хипотенузата и проекцията му върху нея.
									| Използват се формулите:
									br
									.text-center
										p a² = c*a1 и b² = c*b1
									| където 'a' и 'b' са катетите на триъгълника,
									| 'a1' и 'b1' са техните проекции, а 'c' е хипотенузата на триъгълника.

		.col-md-6
			p
				ul
					li Т2. Височината към хипотенузата в правоъгълен триъгълник е равна на произведението от проекциите на двата катета върху хипотенузата.

					br

					li 
						p Т3. Питагорова теорема
							| Сборът от квадратите на катетите е равен на квадрата на хипотенузата.
							.text-center
								p a² + b² = c²

					li 
						p Т4. Произведението на хипотенузата и височината към нея е равно на произведението на двата катета.

							.text-center
								p c*h = a*b