.container
    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Намиране на страна на произволен триъгълника
                legend Въведете:
                .form-group
                    label.col-md-3.control-label(for="first-side") Височината h
                    .col-md-9
                        input.form-control#height(type="number", placeholder="Въведете дължината на височината", required)
                .form-group
                    label.col-md-3.control-label(for="first-side") Лицето S
                    .col-md-9
                        input.form-control#area(type="number", placeholder="Въведете стойноста на лицето", required)

                p.text-danger Въведените стойности трябва да са в еднакви мерни единици*

                .form-group
                    .pull-left
                        button.btn.btn-primary.calc(onclick="sideFromAreaRanTr()") Пресметни страната

        form.form-horizontal.col-md-6.resolve
            fieldset
                legend Решение:
                .form-group
                    label.text-success
                        p#sideRandomTr