.container

    h1 Уравнения
    br

    .col-md-12
        .panel.panel-primary
            .panel-heading.text-center Уравнения
            .panel-body
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown
                        a.dropdown-toggle(href='#/algebra/equations/linearequ/linearequ', data-toggle="dropdown") Линейни уравнения
                    li.dropdown
                        a.dropdown-toggle(href='#/algebra/equations/quadratic/quadratic', data-toggle="dropdown") Квадратни уравнения
    h1 Неравенства
    br

    .col-md-12
        .panel.panel-primary
            .panel-heading.text-center Неравенства
            .panel-body
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Линейни неравенства
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Квадратни неравенства

    h1 Функции
    br

    .col-md-12
        .panel.panel-primary
            .panel-heading.text-center Функции
            .panel-body
                ul.nav.nav-tabs(style='margin-bottom: 15px;')
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Линейни функции
                    li.dropdown
                        a.dropdown-toggle(href='', data-toggle="dropdown") Квадратни функции