.col-md-12(ng-controller="BlueprintsCtrl")
	form.form-horizontal.col-md-12#blueprints
		fieldset.col-md-6
			legend
				a(ng-click="hideBlueprint()") Скрий чертежа

			canvas#canvas(width="360px", height="240px")

		form.form-horizontal.col-md-6
			fieldset
				legend Легенда
				//p Which color for which side is :D
		

	button.btn.crimson#showBlueprint(ng-click="perimeterDraft()") Виж чертеж