body
  padding-top 80px
  background-color #D7DCD3

.navbar-right .navbar-form
    input
      margin-right 10px
a.btn
  margin-left 10px

button.btn.calc.buy
  margin-bottom 10px

.geoAndAlg
  color white

.geoAndAlg:hover
  color white

.toast-top-right
  top 70px

.resolve,.steps
  font-size 21px

#geomStart
  margin-left 65px

.jumbotron
  background-color white

#detailsBtn
  margin-right 30px

hr
  background-color: darkgray;
  height: 1px;

footer
  padding-left 5%
  padding-right 5%
  p
    border-top 1px solid #808080
    padding-top 10px

//responsive design
@media (max-width:360px)
  #firstName, #lastName, #firstNameHeader, #lastNameHeader
    display none
  #detailsBtn
    display none


@media (max-width:980px)
  #wrapper
    padding-left 0
    display none