body {
  padding-top: 80px;
  background-color: #d7dcd3;
}
.navbar-right .navbar-form input {
  margin-right: 10px;
}
a.btn {
  margin-left: 10px;
}
button.btn.calc.buy {
  margin-bottom: 10px;
}
.geoAndAlg {
  color: #fff;
}
.geoAndAlg:hover {
  color: #fff;
}
.toast-top-right {
  top: 70px;
}
.resolve,
.steps {
  font-size: 21px;
}
#geomStart {
  margin-left: 65px;
}
.jumbotron {
  background-color: #fff;
}
#detailsBtn {
  margin-right: 30px;
}
hr {
  background-color: #a9a9a9;
  height: 1px;
}
footer {
  padding-left: 5%;
  padding-right: 5%;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
@media (max-width: 360px) {
  #firstName,
  #lastName,
  #firstNameHeader,
  #lastNameHeader {
    display: none;
  }
  #detailsBtn {
    display: none;
  }
}
@media (max-width: 980px) {
  #wrapper {
    padding-left: 0;
    display: none;
  }
}
