.container
    .list-group.col-md-6
        a.list-group-item.active.text-center(href='#')
            | For contacts:
        table.table.table-striped.table-hover
            tb
                tr.active
                    td
                        h4 Radoslav Radkov
                        //Длъжност:
                        p Administrator
                tr.active
                    td
                        h4 E-mail: &nbsp
                            //add some email with "mailto:mathprodev@outlook.com"
                            a(href="") Chat App email
                tr.active
                    td
                        h4 Certificate: &nbsp
                            a(href="https://telerikacademy.com/Certificates/View/650/cff89024") Telerik School Academy Certificate
                tr.active
                    td
                        h4 Other applications: &nbsp
                            a(href="http://meanstackapplication.herokuapp.com") MathPro