.container
    .jumbotron
        h1 Welcome in Code Compiler App
    .row
        .col-md-6.panel.panel-primary
                h1 Use it,but first let me take a selfie :D :D :D
        
        .col-md-6.panel.panel-primary
                h1 Use it when you are not drunk :D :D :D