extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") MathPro
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/") Начало
                    li
                        a(href="#/geometry") Геометрия
                    li
                        a(href="#/algebra") Алгебра
                    li
                        a(href="#/about") Помощ
                div(ng-include="'partials/account/login'")
    section
        div(ng-view)

    footer.text-center(ng-cloak='ng-cloak')
        p.text-info
            | &copy Radolsav Radkov 2014
        div
            strong Page views: &nbsp
            img(src='http://simplehitcounter.com/hit.php?uid=1717607&f=0&b=16777215', border='0', height='18', width='83', alt='hit counter website')
            hr