.container
    .list-group
        table.table.table-striped.table-hover
            tb
                tr
                    td
                        h1 Страница за въпроси и поддръжка
                tr.active
                    td
                        h4
                            a(href="#/about/howToGeometry") Как да използваме раздел геометрия
                tr.active
                    td
                        h4
                            a(href="#/about/howToAlgebra") Как да използваме раздел алгебра
                tr.active
                    td
                        h4
                            //faq = frequently asked questions
                            a(href="#/about/faq") Често задавани въпроси
                tr.active
                    td
                        h4
                            a(href="#/about/support") Поддръжка
                tr.active
                    td
                        h4
                            a(href="#/about/about") За проекта