body
  padding-top 80px
  color: white

//navigation styles
.navbar-right .navbar-form
    input
      margin-right 10px
a.btn
  margin-left 10px

button.btn.calc.buy
  margin-bottom 10px

//panels' styles
.geoAndAlg
  color white

.geoAndAlg:hover
  color white

#geomStart
  margin-left 15%

#fullScreenSize
  font-size: 31px

//Styles for useful formulas page
.usefulFormulasStyles
  font-size: 15px

//Specific color for "Algebra" part of application
.algebra-tab-color
  // or #007700
  background-color: #4C4CFF

//Specific red color for "Gometry" part of application
.crimson
  background-color: #990000

//Specific color for combinatorics page
.combin-color
  background-color: #009900

//Support page colors
.support
  background-color: #3344FF

//notifier's styels
.toast-top-right
  top 70px

//Change color of text of select tag...
.textColorOption
  color: black

.resolve,.steps
  font-size 21px

//canvas - stlyes, when visible and invisible and etc.
#blueprints
  display: none
canvas
  border: 1px solid #0c0d0e
  background: #272b30

//calculate buttons styles
.calcBtn
  margin-left: 8%

//profile and admin styles
#detailsBtn
  margin-right 30px

#profileImg
  margin-left 10px

#blackBg
  background-color #222

span.userText
  color silver

//styles for combinatorics
#combination, #variation
  font-size 60px
  width 60px

.k-class, .n-class
  font-size 25px

.inputs
  margin-left 10px
  margin-bottom 10px
  height 35px
  width 170px
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

//styles for footer
hr
  background-color: darkgray;
  height: 1px;

//Styles for search box in FAQs "page"
#searchBoxFAQs
  background: none
  border: none

footer
  padding-left 5%
  padding-right 5%
  p
    border-top 1px solid #808080
    padding-top 10px

//responsive design
@media (max-width:360px)
  #firstName, #lastName, #firstNameHeader, #lastNameHeader
    display none

  #detailsBtn
    display none

  #contentAlgebraPanel, #contentGeometryPanel
    font-size 21px

  #imgAlgebra, #geomStart
    display none

  #fullScreenSize
    display none

@media (max-width:980px)
  #wrapper
    padding-left 0
    display none

  #signup
    margin-left 0px
    margin-top 0px

  #login, #username
    margin-right 10px
    margin-bottom 6px

  #login
    margin-top 6px

  #geomStart
    margin-left 20%

@media (min-width:500px)
  #contentAlgebraPanel, #contentGeometryPanel
    display none


@media (min-width:1280px)
  #blackBg
    margin-top -1px
    margin-right -1px

  ul#blackBg > li > a:hover
    color black