doctype
html
    head
        title MEAN Stack Application
        lin(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        lin(rel="stylesheet" href="/lib/toastr/toastr.css")
        lin(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        h1 Hello! Always run C:\Program Files\MongoDB 2.6 Standard\bin\mongod.exe !!!!!!
        h1 and type ->   mongod -dbpath and path of your Data folder
        h1 Hi from layout!

        block main-content

        include scripts