.container
	h1 Полезни формули

	.well.col-md-12
		form.form-horizontal
			fieldset
			p
				ul.col-md-6
					li
						h3 Формула за ъглополовяща в триъгълника:
						p.text-center.usefulFormulasStyles Lc^2 = a*b - m*n

					li
						h3 Метрични зависимости в правоъгълен триъгълник:
						p.text-center.usefulFormulasStyles a² = c*a1
						p.text-center.usefulFormulasStyles c*hc = a*b
						p.text-center.usefulFormulasStyles b² = c*b1
						p.text-center.usefulFormulasStyles a²/b² = a1/b1
						p.text-center.usefulFormulasStyles a² + b² = c²
						p.text-center.usefulFormulasStyles hc²2 = a1*b1
						p.text-center.usefulFormulasStyles Lc = a*b*√2/(a+b)
						p.text-center.usefulFormulasStyles a+b = 2*r+2*R
						p.text-center.usefulFormulasStyles r=(a+b-c)/2
						p.text-center.usefulFormulasStyles R=c/2
						p.text-center.usefulFormulasStyles Mc=c/2=R

					li
						h3 Формули за намиране на медиана в произволен триъгълник:
						p.text-center.usefulFormulasStyles Ma = 1/2*²√(2*b² + 2*c² - a²)
						p.text-center.usefulFormulasStyles Mb = 1/2*²√(2*a² + 2*c² - b²)
						p.text-center.usefulFormulasStyles Mc = 1/2*²√(2*a² + 2*b² - c²)

					li
						h3 Намиране на страните на произволен триъгълник чрез трите медиани:
						p.text-center.usefulFormulasStyles a = 2/3*²√(2*Mb² + 2*Mc² - Ma²)
						p.text-center.usefulFormulasStyles b = 2/3*²√(2*Ma² + 2*Mc² - Mb²)
						p.text-center.usefulFormulasStyles c = 2/3*²√(2*Ma² + 2*Mb² - Mc²)

					li
						h3 Лице на триъгълник:

						p.text-center.usefulFormulasStyles S = a*Ha/2 = b*Hb/2 = c*Hc/2

						p.text-center.usefulFormulasStyles S = a*b/2

						p.text-center.usefulFormulasStyles S = a*b*c/4*R

						p.text-center.usefulFormulasStyles S = p*r, p=(a+b+c)/2

					li
						h3 Синусова теорема:
						p.text-center.usefulFormulasStyles а/sina = b/sinb = 2*R

					li
						h3 Косинусова теорема:
						p.text-center.usefulFormulasStyles a² = b² + c² - 2*b*c*cosa

				ul.col-md-6
					li
						h3 Формули за лице на успоредник:
						p.text-center.usefulFormulasStyles S = a*Ha = b*Hb
						p.text-center.usefulFormulasStyles S = a*b*sina
						p.text-center.usefulFormulasStyles S = d1*d2*sinx/2	 

					li
						h3 Лице на трапец:
						p.text-center.usefulFormulasStyles S = (a+b)/2*h

					li
						h3 Формули за лице и периметър на правоъгълник:
						p.text-center.usefulFormulasStyles S = a*b
						p.text-center.usefulFormulasStyles P = 2*a + 2*b

					li
						h3 Формули за лице и периметър на квадрат:
						p.text-center.usefulFormulasStyles S = a²
						p.text-center.usefulFormulasStyles P = 4*a