.container
    .col-md-12
        form.form-horizontal
            fieldset
                panel
                    .panel-heading.combin-color
                        .panel-title 
                            h3 Пермутация
                    .panel-body.well
                        p Определение - пермутация на n елемента наричаме произволна тяхна наредба, в която всеки един от тези елементи се среща само веднъж. Броят на възможните различни наредби (пермутации P(n)) е n!=1.2.3...n
                        p n! (n факториел) - функция на естествено число n, равна на произведението на естествени числа от 1 до n.
                        p.text-warning P(n) и n! означават едно и също нещо, записано по различен начин.
                        p Например:
                        ul
                            li 5! = 5*4*3*2*1 = 120
                            li 10! = 10*9*8*7*...*2*1 = 3628800
                            li 0! се брои за 1, 0! = 1
                        a.btn.combin-color(href="#/combinatorics/permutation") Решеване на задачи от пермутация

    .col-md-12
        form.form-horizontal
            fieldset
                panel
                    .panel-heading.combin-color
                        .panel-title 
                            h3 Вариация
                    .panel-body.well
                        p Определение - вариациите се използват за изчисляване на броя на начините, по които могат от дадено множество от n на брой елемента да се изберат k на брой, като реда на избиране на елементите е от значение.
                        img(src="../../pictures/variaciq.png")
                        br
                        br
                        a.btn.disabled.combin-color(href="") Решеване на задачи от вариации

    .col-md-12
        form.form-horizontal
            fieldset
                panel
                    .panel-heading.combin-color
                        .panel-title 
                            h3 Комбинация
                    .panel-body.well
                        p Определение - комбинация на n елемента от k-ти клас, се нарича което и да е множество от k различни елемента избрани измежду n дадени елемента. Поредността на избраните елементи е без значение, така че множествата с еднакви елементи представляват една и съща комбинация.
                        a.btn.disabled.combin-color(href="#/combinatorics/combination") Решеване на задачи от комбинации