<div class="col-md-12">
    <h1 class="text-center">Smartphones</h1>
    <div class="col-md-12">
        <h1>A</h1>
        <hr/>
        <div class="col-md-4">
            <h1>Alcatel Onetouch</h1>
            <img src="../images/smartphones/alcatel.jpg" />
        </div>
        <div class="col-md-8">
            <h1>Specifications</h1>
            <p>
                <strong>GENERAL: </strong>
                	2G Network	GSM 850 / 900 / 1800 / 1900</br>
                        3G Network	HSDPA 900 / 2100
 	                    HSDPA 850 / 1900 / 2100
                        SIM	Micro-SIM
                </br>
                Status	Available. Released 2013, April </br>
                <strong>BODY:</strong>	Dimensions	134.4 x 68.5 x 6.5 mm (5.29 x 2.70 x 0.26 in) </br>
                Weight	115 g (4.06 oz) </br>
                <strong>DISPLAY:</strong>	Type	AMOLED capacitive touchscreen, 16M colors </br>
                <strong>Size:</strong>	720 x 1280 pixels, 4.65 inches (~316 ppi pixel density) </br>
                <strong>Other:</strong>
                Multitouch - Yes </br>
                Protection - Dragon Trail Glass </br>
                SOUND - Alert types	Vibration; MP3 ringtones </br>
                Loudspeaker - Yes
                3.5mm jack	No, included adaptor for 3.5mm </br>
                MEMORY	Card slot - No </br> 
                Internal 16 GB storage, 1 GB RAM </br> 
                DATA	GPRS	Yes </br>
                EDGE	Yes </br>
                Speed	HSDPA 7.2 Mbps </br>
                WLAN	Wi-Fi 802.11 b/g/n, Wi-Fi Direct, Wi-Fi hotspot </br>
                Bluetooth	Yes, v4.0 with A2DP </br>
                USB	Yes, microUSB v2.0 </br>
                CAMERA	Primary	8 MP, 3264 x 2448 pixels, autofocus, LED flash </br>
                Video	Yes, 1080p </br>
                Secondary	Yes, 1.3 MP </br>
                FEATURES	OS	Android OS, v4.1 (Jelly Bean) </br>
                Chipset	Mediatek MT6577 </br>
                CPU	Dual-core 1.2 GHz Cortex-A9 </br>
                GPU	PowerVR SGX531T </br>
                Sensors	Accelerometer, proximity, compass </br>
                Messaging	SMS(threaded view), MMS, Email, Push Email, IM </br>
                Browser	HTML </br>
                Radio	Stereo FM radio with RDS </br>
                GPS	Yes, with A-GPS support </br>
                Java	Yes, via Java MIDP emulator </br>
                Colors	Black, Red, Yellow, Green, Turquoise </br>
 	                - SNS integration </br> 
                    - MP3/AAC+/WAV/WMA player </br>
                    - MP4/H.264 player </br>
                    - Document viewer </br>
                    - Photo viewer/editor </br>
                    - Organizer </br>
                    - Voice memo </br>
                    - Predictive text input </br>
                BATTERY	 	Li-Ion 1800 mAh battery </br>
                Stand-by	Up to 400 h (2G) / Up to 400 h (3G) </br>
                Talk time	Up to 12 h (2G) / Up to 7 h (3G) </br>
                MISC	SAR EU	 0.76 W/kg (head)     1.37 W/kg (body)     </br>
                Price: 560 lw.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <h1>B</h1>
        <hr/>
        <div class="col-md-4">
            <h1>BlackBerry Curve</h1>
            <img src="../images/smartphones/blackberry.jpg" />
        </div>
        <div class="col-md-8">
            <h1>Specifications</h1>
            <p>
                <strong>General: </strong>
                	2G Network	GSM 850 / 900 / 1800 / 1900
                    SIM	Mini-SIM
                </br>
                Status	Available. Released 2009, August</br>
                <strong>Body:</strong>	</br>
                    Dimensions:	109 x 60 x 13.9 mm (4.29 x 2.36 x 0.55 in);
                    Weight:	106 g (3.74 oz) </br>
                <strong>Display:</strong></br>
                    Type:	TFT, 65K colors;
                    Size:	320 x 240 pixels, 2.46 inches (~163 ppi pixel density);
 	                - Touch-sensitive optical trackpad </br>
                <strong>Sound:</strong></br>
                    Alert types	Vibration; Polyphonic(32), MP3 ringtones;
                    Loudspeaker:	Yes;
                    3.5mm jack:	Yes </br>
                <strong>Memory and Data:</strong></br>
                    Card slot:	microSD, up to 32 GB;
                    Internal:	256 MB;
                    GPRS:	Class 10 (4+1/3+2 slots), 32 - 48 kbps;
                    EDGE:	Class 10, 236.8 kbps;
                    WLAN:	Wi-Fi 802.11b/g;
                    Bluetooth:	Yes, v2.0 with A2DP;
                    USB:	Yes, microUSB </br>
                <strong>Camera:</strong></br>
                    Primary:	2 MP, 1600 x 1200 pixels;
                    Video:	Yes, QVGA;
                    Secondary:	No </br>
                <strong>Battery:</strong></br>
                    Li-Ion 1150 mAh battery; 
                    Stand-by	Up to 408 h;
                    Talk time	Up to 4 h 30 min;</br>
                <strong>Price:</strong> 360lw.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <h1>N</h1>
        <hr/>
        <div class="col-md-4">
            <h1>Nokia Lumia 610</h1>
            <img src="../images/smartphones/nokia.jpg" />
        </div>
        <div class="col-md-8">
            <h1>Specifications</h1>
            <p>
                <strong>General: </strong></br>
                	2G Network	GSM 850 / 900 / 1800 / 1900 </br> 
                    3G Network	HSDPA 850 / 900 / 1900 / 2100 </br>
                    SIM	Micro-SIM </br>
                    Status	Available. Released 2012, April </br>
             
                <strong>Body:</strong>	</br>
                    Dimensions:	119 x 62 x 12 mm, 77.6 cc (4.69 x 2.44 x 0.47 in) </br>
                    Weight:	131.5 g (4.62 oz) </br>
                <strong>Display:</strong></br>
                    Type:	TFT capacitive touchscreen, 65K colors </br>
                    Size:	480 x 800 pixels, 3.7 inches (~252 ppi pixel density) </br>
                    Multitouch:	Yes </br>
                <strong>Sound:</strong></br>
                    Alert types:	Vibration; MP3, WAV ringtones </br>
                    Loudspeaker:	Yes </br>
                    3.5mm jack:	Yes </br>
                <strong>Memory and Data:</strong></br>
                    Card slot:	No </br>  
                    Internal:	8 GB storage, 256 MB RAM </br>
                    GPRS:	Class 10 (4+1/3+2 slots), 32 - 48 kbps </br>
                    EDGE:	Class 10, 236.8 kbps </br>
                    Speed:	HSDPA, 7.2 Mbps; UL, 384 kbps </br>
                    WLAN:	Wi-Fi 802.11 b/g/n </br> 
                    Bluetooth:	Yes, v2.1 with A2DP, EDR </br>
                    USB:	Yes, microUSB v2.0 </br>
                <strong>Camera:</strong></br>
                    Primary:	5 MP, 2592 х 1944 pixels, autofocus, LED flash, check quality </br>
                    Features:	Geo-tagging, face detection </br>
                    Video:	Yes, VGA@30fps </br>
                    Secondary:	No </br>
                <strong>Battery:</strong></br>
                    Li-Ion 1300 mAh battery (BP-3L)  </br>
                    Stand-by:	Up to 670 h (2G) / Up to 720 h (3G) </br>
                    Talk time:	Up to 10 h 30 min (2G) / Up to 9 h 30 min (3G) </br>
                    Music play:	Up to 35 h </br>
                <strong>Price:</strong> 500lw.
            </p>
        </div>
    </div>
</div>
