<div class="col-md-12">
    <h1 class="text-center">Tablets</h1>
    <div class="col-md-12">
        <h1>L</h1>
        <hr/>
        <div class="col-md-4">
            <h1>Lenovo Yoga Tablet</h1>
            <img src="../images/tablets/s1.jpg" />
            <img src="../images/tablets/s2.jpg" />
            <img src="../images/tablets/s3.jpg" />
        </div>
        <div class="col-md-8">
            <h1>Specifications</h1>
            <p>
                <strong>General: </strong></br>
                    2G Network	GSM 900 / 1800 / 1900 </br>
                    3G Network	HSDPA 900 / 2100 </br>
                    SIM	Micro-SIM </br>
                    Announced	2013, October </br>
                    Status	Available. Released 2013, November </br>
                <strong>Body:</strong>	</br>
                    Dimensions	261 x 180 x 8.1 mm (10.28 x 7.09 x 0.32 in) </br>
                    Weight	605 g (Wi-Fi) / 610 g (3G) (1.34 lb) </br>
 	                    - Built-in 3-stage kickstand </br>
                <strong>Display:</strong></br>
                    Type	IPS LCD capacitive touchscreen, 16M colors </br>
                    Size	1280 x 800 pixels, 10.1 inches (~149 ppi pixel density) </br>
                    Multitouch	Yes </br>
                <strong>Sound:</strong></br>
                    Alert types	Vibration, Polyphonic, MP3 ringtones </br>
                    Loudspeaker	Yes, with stereo speakers </br>
                    3.5mm jack	Yes </br>
                <strong>Memory and Data:</strong></br>
                    Card slot	microSD, up to 64 GB </br>
                    Internal	16/32 GB, 1 GB RAM </br>
                    GPRS	Yes </br> 
                    EDGE	Yes </br>
                    Speed	HSPA+ </br>
                    WLAN	Wi-Fi 802.11 b/g/n </br>
                    Bluetooth	Yes, v4.0 </br>
                    USB	Yes, microUSB v2.0, USB On-the-go </br>
                <strong>Camera:</strong></br>
                    Primary	5 MP, 2592 x 1936 pixels </br>
                    Video	Yes </br>
                    Secondary	Yes, 1.6 MP </br>
                <strong>Battery:</strong></br>
                     	Non-removable Li-Ion 9000 mAh battery </br>
                        Stand-by	 </br>
                        Talk time	 (2G) / Up to 18 h (3G) </br>
                <strong>Price:</strong> 800 lw.
            </p>
        </div>
    </div>
</div>
