<div class="col-md-12">
    <h1 class="text-center">Tablets</h1>
    <div class="col-md-12">
        <h1>A</h1>
        <hr/>
        <div class="col-md-4">
            <h1>Nokia Lumia 610</h1>
            <img src="../images/tablets/" />
        </div>
        <div class="col-md-8">
            <h1>Specifications</h1>
            <p>
                <strong>General: </strong></br>
             
                <strong>Body:</strong>	</br>

                <strong>Sound:</strong></br>

                <strong>Memory and Data:</strong></br>

                <strong>Camera:</strong></br>

                <strong>Battery:</strong></br>

                <strong>Price:</strong> lw.
            </p>
        </div>
    </div>
</div>
