<div class="col-md-12">
    <h1 class="text-center">Wearables</h1>
    <div class="col-md-12">
        <h1>S</h1>
        <hr/>
        <div class="col-md-4">
            <h1>Samsung Galaxy Gear</h1>
            <img src="../images/wearables/gGear.jpg" />
            <img src="../images/wearables/gGear2.jpg" />
            <img src="../images/wearables/gGear3.jpg" />
        </div>
        <div class="col-md-8">
            <h1>Specifications</h1>
            <p>
                <strong>Processor: </strong></br>
                    800 MHz Processer
                <strong>Display:</strong></br>
                    1.63 inch (41.4mm) Super AMOLED (320 x 320) </br>
                <strong>Camera:</strong></br>
                    1.9 Megapixel BSI Sensor, Auto Focus Camera / Sound & Shot </br>
                <strong>Video:</strong></br>
                    Codec : H.264 </br>
                    Format : MP4 </br>
                    HD(720p) Playback & Recording </br>

                <strong>Audio:</strong></br>
                    Codec : AAC </br>
                    Format : M4A </br>
                <strong>Samsung Services:</strong></br>
                    Samsung Apps </br>
                    ChatON : mobile communication service </br>
                <strong>Connectivity:</strong></br>
                    Bluetooth® v 4.0 + BLE </br>
                <strong>Sensor:</strong></br>
                    Accelerometer, Gyroscope </br>
                <strong>Memory:</strong></br>
                    4GB Internal memory + 512 MB (RAM) </br>
                <strong>Dimension:</strong></br>
                    36.8 x 56.6 x 11.1 mm, 73.8g </br>
                <strong>Battery:</strong></br>
                    Standard battery, Li-ion 315mAh</br>
                <strong>Price:</strong> 360 lw.
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <h1>N</h1>
        <hr/>
        <div class="col-md-4">
            <h1>Nokia wearables</h1>
            <img src="../images/wearables/nokiaWearables.jpg" />
        </div>
        <div class="col-md-8">
            <h1>COMMING SOON</h1>
        </div>
    </div>
</div>
