.container
    h1 Как да използваме раздел геометрия
    table.table
        tr
            td
                h3 Стъпка 1:
                .col-md-12
                    .col-md-6
                        p.steps Натиснете върху желаната от вас фигура
                        p.steps Например:
                        img(src="../../pictures/step1.png")
        tr
            td
                h3 Стъпка 2:
                .col-md-12
                    .col-md-6
                        p.steps Изберете кой от елементите искате да намерите
                        p.steps Например:
                        img(src="../../pictures/step2.png")
        tr
            td
                h3 Стъпка 3:
                .col-md-12
                    .col-md-6
                        p.steps Въвеждате и пресмятате стойноста на търсеният от вас елемент
                        p.steps Например:
                        img(src="../../pictures/step3.png")