.container
    h3 При технически проблеми:
    .well.col-md-6
        form.form-horizontal
            fieldset
                legend Екип за поддръжка
                legend E-mail: someEmail@example.com
                legend Телефон: somePhoneNumber