extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#/") Code Compiler
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#") Menu
                    li
                        a(href="#") Menu
                    li
                        a(href="#") Menu
                div(ng-include="'partials/account/login'")

    section
        div(ng-view)