.container
    .list-group.col-md-6
        a.list-group-item.active.text-center(href='#')
            | При технически проблеми:
        table.table.table-striped.table-hover
            tb
                tr.active
                    td
                        h4 Радослав Радков
                        //Длъжност:
                        p Администратор
                tr.active
                    td
                        h4 E-mail: &nbsp
                            a(href="mailto:Type_Here_E-mail_For_Support") Will be adde soon.
                tr.active
                    td
                        h4 Сертификат: &nbsp
                            a(href="https://telerikacademy.com/Certificates/View/650/cff89024") Сертификат