.container
    .well.col-md-12
        form.form-horizontal.col-md-6
            fieldset
                legend Намиране на периметър на правоъгълник
                .form-group
                    label.col-md-3.control-label(for="first-side") Страната a
                    .col-md-9
                        input.form-control#str-a(type="number", step="0.001", placeholder="Въведете дължината на страната")
                .form-group
                    label.col-md-3.control-label(for="second-side") Страната b
                    .col-md-9
                        input.form-control#str-b(type="number", step="0.001", placeholder="Въведете дължината на страната")

                p.text-danger Въведените стойности трябва да са в еднакви мерни единици*

                .form-group
                    .pull-left
                        button.btn.crimson.calc(onclick="recPer()") Пресметни периметъра

        form.form-horizontal.col-md-6.resolve
            fieldset
                legend Решение:
                .form-group
                    label.text-success
                        p#perimeter